
/*
 ** ======== Content ======= /
 ** 1. Header
 ** 2. User Search bar
 ** 3. User profile
 ** 4. User Account 
 ** 5. User Repos & Followers
 ** 6. User Additional info
 ** 7. Responsive Mobile View
 ** =========================  /
*/

.github-search {
  max-width: 500px;
}

/* ** 1. Header **  */
.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header__mode .mode__type {
  font-size: 0.75rem;
  font-weight: 400;
}

.search-header .header__title {
  font-size: 1.2rem;
  font-weight: 600;
}

.search-header .header__mode {
  display: flex;
  gap: 0.75rem;
}

/* ** 2. User Search Bar **  */
.search-form {
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.4rem;
  margin-bottom: 0.75rem;
  background-color: var(--light-blue);
  border-radius: 8px;
  position: relative;
}

.search-form .icon {
  margin-left: 10px;
  font-size: 1.75rem;
  color: var(--accent);
  margin-top: 4px;
}

.search-form .input__form {
  width: 100%;
  background: inherit;
  font-family: inherit;
  font-size: 0.8rem;
  color: var(--white);
  letter-spacing: 1px;
  outline: none;
  border: none;
  margin-left: 10px;
}

.search-form .btn__form {
  font-size: 0.8rem;
  padding: 0.6rem 0.75rem;
  background-color: var(--accent);
  color: var(--white);
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: inherit;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.light .search-form .btn__form {
  color: #fff;
}
.search-form .btn__form:hover {
  background-color: rgba(0, 110, 254, 0.75);
}

/* ** 3. User Profile **  */
.github-profile {
  display: flex;
  justify-content: flex-start;
  padding: 1.6rem 1.8rem;
  background-color: var(--light-blue);
  border-radius: 8px;
  gap: 1rem;
}

.github-profile .profile__avatar {
  width: 60px;
}

.github-profile .avatar__img {
  width: 60px;
  border-radius: 50%;
}

.github-profile .avatar__img:hover {
  opacity: 0.6;
}

.profile__account .account__user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
}

/* ** 4. User Account **  */
.account__user .name__full {
  font-size: 0.9rem;
  font-weight: 600;
}

.account__user .name__user {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--accent);
}
.account__user .profile__joined-date {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--light-2);
  margin-left: 5rem;
}

.profile__account .account__bio {
  color: var(--light-2);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
/* ** 5. User Repos and Followers **  */
.profile__account .account__status {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
  padding: 1rem 1.4rem;
  border-radius: 4px;
}

.account__status span {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: 700;
  font-size: 0.8rem;
}
/* ** 6. User Additional info **  */
.profile__account .account__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  column-gap: 1rem;
  row-gap: 1.2rem;
  margin-block: 2rem;
}

.account__info > div {
  display: flex;
  align-items: center;
}

.account__info .icon {
  width: 1rem;
  font-size: 1rem;
  margin-right: 0.6rem;
}

/* ** 7. Responsive Mobile View **  */
@media (width <= 500px) {
  .github-search,
  .search-form {
    max-width: 375px;
    width: 100%;
  }
  
  .profile__account .account__user {
    width: auto;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 110px;
  }

  .profile__avatar {
    margin-bottom: 1.5rem;
  }
  
  .account__user .profile__joined-date {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  
  .github-profile {
    display: block;
    position: relative;
  }
  .profile__account .account__info {
    grid-template-columns: 1fr;
  }
}
